<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="images/B6_round.png" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>B-VI</title>
  </head>
<body>


<!-- MAIN FOLDERS -->
<div class="folders">
  {{ $.Scratch.Set "counter" 1 }} 
  {{range .Site.Pages}} 
    {{if .Dir}} 
      {{ $currentDir := split .Dir `\`}} 
      {{$index0 := index $currentDir 0}}
      {{$index1 := index $currentDir 1}}
      {{if and ($index0) (not $index1)}}
          <div folderanchor="folder{{$.Scratch.Get `counter`}}" class="folder folder-item">
            <img src="images/dossier.png" alt="" />
            <h2>{{$index0}}</h2>
          </div>
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }} 
    {{end}} 
    {{end}} 
  {{end}}
  <div class="computer">
    <img src="images/ordi.png" alt="" />
    <h2>Contact</h2>
  </div>
</div>
<!-- END MAIN FOLDERS -->

{{range .Site.Sections}} 
{{.}}
{{end}}
  
</body>
</html>